<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/web/webLayout.html}" >
    <head>
 	<title>Home</title>
    </head>
	<body>
	<div class="col-lg-8" layout:fragment="content">
<!-- 		<div class="card mb-4">
			<a href="#!"><img class="card-img-top" th:src="@{/images/vua-hang-hieu-1626803323131.jpg}" alt="..."/></a>
			<div class="card-body">
				<div class="small text-muted">January 1, 2021</div>
				<h2 class="card-title">Featured Post Title</h2>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis
					soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
					voluptatibus possimus, veniam magni quis!</p>
				<a class="btn btn-primary" href="#!">Read more →</a>
			</div>
		</div> -->
		<!-- Nested row for non-featured blog posts-->
		<div class="row">
			<div th:if="${sort}">
			<form th:action="@{/home}" id="formSubmit" name="formSubmit" onchange="submit()" style="width:20%">
				<select name="sort" id="sort" class="form-select form-select-md" aria-label=".form-select-sm example">
					<option value="createdDate-DESC">Mới nhất</option>
					<option value="createdDate-ASC">Cũ nhất</option>
					<option value="modifiedDate-DESC">Chỉnh sửa gần đây nhất</option>
					<option value="${sort}" selected>[[${sort}]]</option>
				</select>
			</form>
			</div>
			<div th:if="${sortCategory}">
			<form th:action="@{'/category/'+${category}}" id="formSubmit" name="formSubmit" onchange="submit()" style="width:20%">
				<select name="sort" id="sort" class="form-select form-select-md" aria-label=".form-select-sm example">
					<option value="">---Sắp xếp---</option>
					<option value="createdDate-DESC">Mới nhất</option>
					<option value="createdDate-ASC">Cũ nhất</option>
					<option value="modifiedDate-DESC">Chỉnh sửa gần đây nhất</option>
					<option value="${sortCategory}" selected>[[${sortCategory}]]</option>
				</select>
			</form>
			</div>
			<div style="height:30px"></div>
			<th:block th:each="model, iState:${model.listResult}">
				<div class="col-lg-6">
					<!-- Blog post-->
					<div class="card mb-4"  style="height:500px">
						<a href="#!"><img class="card-img-top" th:src="@{'/images/'+${model.thumbnail}}" alt="..." height="260px"/></a>
						<div class="card-body" style="height:230px">
							<div class="small text-muted" th:text="${#dates.format(model.createdDate,'dd-MM-yyyy, hh:mm')}">

							</div>
							<a th:href="@{'/baiviet/'+${model.id}}" style="text-decoration: none;"/>
							<h2 class="card-title h4">[[${model.title}]]</h2>
							</a>
							<p class="card-text">[[${model.shortDescription}]]</p>
							<!-- <a class="btn btn-primary" href="#!">Read more →</a> -->
						</div>
					</div>
				</div>
			</th:block>
			<th:block if="${category}">
				<input type="hidden" name="category" id="category" th:value="${category}"/>
			</th:block>
		</div>
		<div class="row">
			<!-- Pagination -->
			<nav aria-label="Pagination">
				<hr class="my-0" />
<!-- 				<span th:text="'totalPages:'+${model.totalPage}"></span>/
				<span th:text="'totalItems:'+${model.totalItem}"></span>/
				<span th:text="'Current Page:'+${model.page}"></span>/
				<span th:text="'Sort:'+${sort}"></span> -->
				<th:block th:if="${model.totalPage}">
					<ul class="pagination justify-content-center my-4">
						<li class="page-item"><a class="page-link" th:if="${model.page>1}" th:href="@{/home(page=1,limit=4,sort=${sort})}">First</a></li>
						<li class="page-item"><span class="page-link" th:unless="${model.page>1}">First</span></li>
						
						<li class="page-item"><a class="page-link" href="#" tabindex="-1" aria-disabled="true" th:if="${model.page>1}" th:href="@{/home(page=${model.page-1},limit=4,sort=${sort})}">Newer</a></li>
	
						</style>
						<th:block th:each="item, state:${#numbers.sequence(1,model.totalPage)}">
						<li class="page-item" th:class="${item!=model.page}?'page-item':'page-item active'">
							<a class="page-link" th:href="@{/home(page=${item},limit=4,sort=${sort})}">[[${item}]]</a>
						</li>
						</th:block>
						
						<li class="page-item"><a class="page-link" th:if="${model.page<model.totalPage}" th:href="@{/home(page=${model.page+1},limit=4,sort=${sort})}">Older</a></li>
						
						<li class="page-item"><a class="page-link" th:if="${model.page<model.totalPage}" th:href="@{/home(page=${model.totalPage},limit=4,sort=${sort})}">Last</a></li>
						<li class="page-item"><span class="page-link" th:unless="${model.page<model.totalPage}">Last</span></li>
					</ul>
				</th:block>
			</nav>
		</div>
	</div>
	<script>
		$("#sort").change(function() {
			$("#formSubmit").submit();
		});
	</script>
</body>
</html>
